*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
.Card{
    width: 90%;
    max-width: 470px;
    background: rgb(34,193,195);
   
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.Search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Search input{
    border: 0;
    outline: 0;
    background-color:white;
    color:black;
    padding: 10x 25px;
    margin-left: 16px;
    font-size: 18px;
    border-radius: 30px;
    flex: 1;
    margin-right: 20px;
    height: 60px;

}
.Search button{
    border: 0;
    outline: 0;
    background-color: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}
.Search button img{
    width: 16px;
}
.WeatherIcon{
    width: 170px;
    margin-top: 30px;
}
.Weather h1{
    font-size: 80px;
    font-weight: 500;
}
.Weather h1{
    font-size: 45px;
    margin-top: -10px;
    font-weight: 400;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, wind{
    font-size: 28px;
    margin-top: -6px;
}
 .Weather{
     display: none; 
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none; 
} 